<div class="topnav">
  <a {{#if active_nav0}}class="active"{{/if}}  href="NAV0">NAV0</a>
  <a {{#if active_nav1}}class="active"{{/if}}href="NAV1">NAV1</a>
  <a {{#if active_nav2}}class="active"{{/if}}href="NAV2">NAV2</a>
  <a {{#if active_nav3}}class="active"{{/if}}href="NAV3">NAV3</a>
</div>